.container {
  max-width: 160vh;
  margin: 0 auto;
}

.col-md-4 {
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 30px;
  margin-right: 10px;
}

.it-icon {
  background-color: #504bde;
  margin-bottom: 20px;
}

.finance-icon {
  background-color: #009688;
  margin-bottom: 20px;
}

.hr-icon {
  background-color: #ff5722;
  margin-bottom: 20px;
}

.legal-icon {
  background-color: #896abd;
  margin-bottom: 20px;
}

.customer-service-icon {
  background-color: #ff9800;
  margin-bottom: 20px;
}

.administrator-icon {
  background-color: #795548;
  margin-bottom: 20px;
}

.department-container {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.department-name {
  font-size: 16px;
  margin-bottom: 20px;
}

.number {
  font-size: 25px;
  margin-top: 50px;
}
