<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h4 class="mb-2">Form New Employee</h4>
    <div class="mb-2">
      <button
        class="btn btn-sm btn-success d-flex align-items-center"
        routerLink="/employee/list"
      >
        <mat-icon>people</mat-icon><strong> Employee List</strong>
      </button>
    </div>
  </div>
  <div class="custom-form">
    <form (ngSubmit)="insertData()">
      <div class="mb-3">
        <label for="name" class="form-label">Employee Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="form.name"
          placeholder="Insert Employee Name"
          name="name"
        />
      </div>
      <div class="mb-3">
        <label for="dob" class="form-label">DOB (Date of Birth)</label>
        <input
          type="date"
          class="form-control"
          id="dob"
          [(ngModel)]="form.dob"
          name="dob"
        />
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <select
          class="form-select"
          id="gender"
          [(ngModel)]="form.gender"
          name="gender"
        >
          <option value="">--Select Gender--</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <select
          class="form-select"
          id="department"
          [(ngModel)]="form.department"
          name="department"
        >
          <option value="">--Choose Department--</option>
          <option value="HR">HR</option>
          <option value="Finance">Finance</option>
          <option value="IT">IT</option>
          <option value="Legal">Legal</option>
          <option value="Customer Service">Customer Service</option>
          <option value="Administrator">Administrator</option>
        </select>
      </div>
      <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    </form>
  </div>
</div>
